.logo-container {
    z-index: 0;
    width: 400px;
height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;

    svg {
        width: 100%;
        // width: max(20%, 100%);
        height: auto;
        left: -50px;
        bottom: 0;
        top: 110px;
        transform: rotateZ(10deg) !important;
        position: absolute;
        z-index: 1;
        filter: blur(2px);
    }

    .solid-logo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        // left: 0;
        margin: auto;
        // width: 100%;
        // width: max(20%, 382pt);
        width: 382pt;
        // height: max(20%, 390pt);
        height: 390pt;
        opacity: 0;
        transform: rotateZ(10deg) !important;
        z-index: 0;
    }
}

.svg-container {
    stroke: #a470e7;
    stroke-width: 10;
}

@media (max-width: 580px) {
    .logo-container {
        display: none;
    }
}